@import url(/src/index.css);

.table-container{
    width: 90%;
    justify-content: center;
    margin: auto;
    padding: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 20px #1E151C19;
}
.table-row{
    display: grid;
    grid-template-columns: 32% 17% 17% 17% 17%;
    height: 60px;
    width: 100%;
    margin: 20px 0;
}
.table-cell{
    padding: 12px 12px;
    display: flex;
    align-items: center;
}
.table-header{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 24px;
    user-select: none;
}
.table-row:has(.table-header){
    border-radius: 20px 20px 0 0;
}
.table-cell p{
    margin-left: 10px;
}
.table-cell.actions{
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-cell.footer{
    display: flex;
    align-items: center;
    border: none;
    padding: 10px;
}
.table-cell .text-button{
    font-size: 12px;
}
.table-cell.footer:nth-child(2){
    justify-content: end;
}
